WindowsFormsApp1/bin/
WindowsFormsApp1/obj/
packages
BackgroundAPIRest/bin/
BackgroundAPIRest/obj/
Business.Main/obj/
Business.Main/bin/
CoreAccesLayer/obj/
CoreAccesLayer/bin/
Domain.Main/obj/
Domain.Main/bin/
NUnitBusinessMain/obj/
NUnitBusinessMain/bin/
PlumbingProps/obj/
PlumbingProps/bin/
.vs
BackgroundAPIRest/Solcitudes/20230311/bota_Cerveza.png
BackgroundAPIRest/Solcitudes/20230311/Dispensador.png
BackgroundAPIRest/Solcitudes/20230312/bota_Cerveza.png
BackgroundAPIRest/Solcitudes/20230312/Erdinguer.png
BackgroundAPIRest/Solcitudes/20230312/ruleta-chupitos-retro.jpg
